stages:
  - deploy

pages:
  stage: deploy
  script:
    - mkdir .public
    - cp -r * .public
    - mv .public public

  artifacts:
    paths:
      - public

  rules:
    - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == $CI_DEFAULT_BRANCH
  when: on_success

  tags:
    - shared-shell-1
