* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  line-height: 120%;
  font-family: cursive;
  font: bolder;
  font-size: larger;
  color: rgba(20, 57, 0, 0.8);
  transform: translate(0%, 10%);
}

.canvas-container {
  background: linear-gradient(rgb(102, 125, 83), rgb(184, 237, 184));
  height: 100vh;
  display: flex;
  background-color: aqua;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.start-layout {
  position: absolute;
  height: 20rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-over-layout {
  z-index: 100;
}

button {
  width: fit-content;
  padding: 2rem 3rem;
  text-align: center;
  background-position: center;
  background-image: url('/assets/background.jpg');
  outline: none;
  border: none;
  transition: all 2s ease-in-out;
  overflow: hidden;
  background-color: rgba(137, 229, 137, 0.796);
  box-shadow: 0px 4px 30px 4px rgba(19, 74, 1, 0.467);
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(2, 57, 10);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 150%;
  cursor: pointer;
}

button:active {
  box-shadow: 0px 4px 30px 4px rgba(19, 74, 1, 0.467);
  background-color: rgba(137, 229, 137, 0.796);
  mix-blend-mode: multiply;
}

.loading-layout {
  position: absolute;
  font-family: cursive;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  z-index: 10;
}

.hidden {
  display: none !important;
}

.pulse {
  animation: pulse 1.2s infinite ease-in-out;
  opacity: 0.5;
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.game-over-layout {
  position: absolute;
  top: 75%;
  transform: translate(0%, -75%);
  /* pointer-events: none; */
}

.game-over-layout h2 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(2, 57, 10);
  margin-bottom: 2rem;
  text-align: center;
  white-space: pre-line;
}
