name: Deploy

on:
  push:
    branches:
      - main   # or replace with your default branch name

jobs:
  deploy:
    name: Deploy Pages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup environment
        run: |
          mkdir .public
          cp -r * .public
          mv .public public

      - name: Upload build as artifact
        uses: actions/upload-artifact@v4
        with:
          name: public
          path: public
